@model ECPay.Payment.Integration.AllInOne
@{
    ViewData["Title"] = "AioCheckOut";
}

<h1>AioCheckOut</h1>

<body>
    <form id="form" name="form" action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" method="GET">
        <input name="HashKey" value="5294y06JbISpM5x9" />

        <input name="MerchantID" value="2000132" />
        <input name="PaymentType" value="aio" />
        @*<input name="CheckMacValue" value="" />*@
        <input name="EncryptType" value="1" />
        <input name="ReturnURL" value="http://example.com" />
        <input name="ClientBackURL" value="http://www.ecpay.com.tw/" />
        <input name="OrderResultURL" value="" />
        <input name="MerchantTradeNo" value="ecPay1234" />
        <input name="MerchantTradeDate" value="2022/04/26 15:40:18" />
        <input name="TotalAmount" value="5000" />
        <input name="TradeDesc" value="ecpay 商城購物" />
        <input name="ChoosePayment" value="Credit" />
        <input name="Remark" value="" />
        <input name="ChooseSubPayment" value="TAISHIN" />
        <input name="NeedExtraPaidInfo" value="N" />
        <input name="DeviceSource" value="" />
        <input name="IgnorePayment" value="" />
        <input name="ItemName" value="手機 20 元 X2" />
        <input name="InvoiceMark" value="" />
        <input name="RelateNumber" value="" />
        <input name="CustomerID" value="A12345678" />
        <input name="CustomerIdentifier" value="" />
        <input name="CustomerName" value="" />
        <input name="CustomerAddr" value="客戶地址" />
        <input name="CustomerPhone" value="0912345678" />
        <input name="CustomerEmail" value="test1234560@gmail.com" />
        <input name="ClearanceMark" value="2" />
        <input name="TaxType" value="1" />
        <input name="CarruerType" value="" />
        <input name="CarruerNum" value="" />
        <input name="Donation" value="0" />
        <input name="LoveCode" value="" />
        <input name="Print" value="" />
        <input name="InvoiceRemark" value="" />
        <input name="DelayDay" value="0" />
        <input name="InvType" value="07" />
        <input name="HashIV" value="v77hoKGq4kWxNNIS" />
    </form>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("form").submit();
        }
    </script>
</body>
