@model IEnumerable<prjCramSchoolSystemUser.ViewModel.COrderReviewViewModel>

@{
    ViewData["Title"] = "ReviewOrder";
}

<h1>ReviewOrder</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section Scripts{
<script>
    var request = require('request');

    request.post({
        uri: "https://api.sandbox.paypal.com/v1/oauth2/token",
        headers: {
            "Accept": "application/json",
            "Accept-Language": "en_US",
            "content-type": "application/x-www-form-urlencoded"
        },
        auth: {
            'user': '---your cliend ID---',
            'pass': '---your client secret---',
            // 'sendImmediately': false
        },
        form: {
            "grant_type": "client_credentials"
        }
    }, function (error, response, body) {
        console.log(body);
    });
</script>
}
